body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', Arial, sans-serif;
  color: #3a3a3a;

  background-image: url('Images/LoginBackground.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;

  position: relative;
}



.logo {
  position: absolute;
  top: 20px;
  left: 40px;
  color: black;
  font-size: 16px;
  font-weight: bold;
}

.login-box {
  width: 350px;
  background-color: white;
  border: 1px solid #cacaca;
  padding: 40px 30px;
  border-radius: 50px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.login-box h2 {
  margin-bottom: 25px;
  color: black;
}

.input-group {
  margin-bottom: 15px; 
}

.input-group input {
  width: 90%; 
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  display: block;
  margin: 0 auto; 
}

.input-group input:focus {
  outline: none;
  border-color: #c8ff00;
  box-shadow: 0 0 4px #c8ff00;
}

.forgot {
  text-align: right;
  margin: 8px 5% 20px 0; 
}

.forgot a {
  text-decoration: none;
  color: #3a3a3a;
  font-size: 13px;
}

.forgot a:hover {
  color: black;
}

.login-btn {
  width: 90%;
  padding: 12px;
  background-color: #c8ff00;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #b3e600;
}

.signup-text {
  margin-top: 20px;
  font-size: 14px;
}

.signup-text a {
  text-decoration: none;
  color: #3a3a3a;
  font-weight: bold;
}

.signup-text a:hover {
  text-decoration: underline;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-in-out forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
